* {
    font-family: 'Mansalva', cursive;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://cdn.pixabay.com/photo/2014/07/28/16/00/pattern-403769__340.png);
}

header, footer, #many_items {
    position: relative;
    left: 20%;
}

header, footer {
    border: 2px solid orange;
    width: 650px;
    margin: 20px 0px;
}

header {
    text-align: center;
    font-size: 150%;
}

#many_items {
    border: 2px solid darkblue;
    height: 450px;
    width: 650px;
    padding: 10px 0 10px 5px;
}

.item {
    display: inline-block;
    margin: 5px;
    border: 2px solid darkblue;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.sales {
    border: 2px solid yellow;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    position: relative;
    left: 75px;
}

.description {
    border: 2px solid pink;
    height: 50px;
    width: 196px;
    position: relative;
    top: 96px;
}

#item_1{
    background-image: url(https://image.shutterstock.com/image-photo/cactus-planted-flowerpot-260nw-1442807978.jpg);
    background-size: cover;
    background-position: center;
}
